@import url(reset.css);
@import url(global.css);

.main-header {
  margin-top: 24px;

  img {
    margin-inline: auto;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 64px;
  margin-inline: auto;
  max-width: 628px;
}

h1 {
  font: var(--font-title);
  color: var(--content-primary);
  margin-block: 16px;
}

a {
  display: flex;
  align-items: center;
  gap: 8px;
  font: var(--font-link);
  color: var(--color-brand);
  text-decoration: none;
  transition: color 0.2s;

  svg {
    width: 16px;
    height: 16px;
  }

  &:hover {
    color: var(--color-brand-hover);
    text-decoration: underline;
  }
}

form {
  display: flex;
  gap: 16px;
  margin-top: 24px;
  width: 100%;
}

input[type="text"] {
  background-color: var(--background-secondary);
  border: 2px solid var(--border-primary);
  border-radius: 12px;
  padding: 12px 16px;
  width: 100%;
  transition: all 0.2s;
  outline-color: var(--color-brand);
  outline-width: 2px;

  &:hover {
    border-color: var(--border-hover);
  }
}

button {
  all: unset;
  background-color: var(--color-brand);
  color: var(--content-always-white);
  padding: 12px 24px;
  border-radius: 12px;
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--color-brand-hover);
  }

  &:focus {
    outline: 2px solid var(--color-brand);
    outline-offset: 2px;
  }
}
